section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  align-self: center;
  margin-top: 2rem;
}

td {  padding: 0.5rem 1rem;  }

div {  align-self: flex-end;  }

button {
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10vw;
  padding: 0.25rem 0.75rem;
}

button:focus {  outline: 0;  }

input[type="date"], select, td {
  font-family: Verdana;
  font-size: 1.25rem;
}
