section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  align-self: center;
  margin-top: 2rem;
}

div {  align-self: flex-end;  }

button {
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10vw;
  padding: 0.25rem 0.75rem;
}

button:focus {  outline: 0;  }
